<link rel="stylesheet" href="/style/error.css">
<h2>{{error.status}} {{message}}</h2>
<p>The page you are looking for does not exist. <a href="/">back home</a></p>
{{!-- <h2>{{error.status}}</h2> --}}
{{!-- <pre>{{error.stack}}</pre> --}}
