<div class="flex column justify-content-center align-items-center" style="height: 100%;">
	<h5 class="text-align-center">Build Fast, Minimalist & Elegant Design</h5>
	<div class="flex">
		<div class="col"><a href="https://github.com/DezUI/DezUI" target="_blank" class="btn">Github</a></div>
		<div class="col-margin-row"></div>
		<div class="col"><a class="btn docs-link-version" href="">Docs</a></div>
	</div>
</div>
