body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
body header, body footer {
  display: none;
}
body main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
