body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;

	header, footer {
		display: none;
	}
	main {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		h2 {
		}
	}
}
