<h5>Card <a href="#cards">#</a></h5>
<p>DezUI card's default style is <code>max-width: 300px</code> length. You can change the length by adding the <code>style=" ... "</code> attribute.</p>
<br>
<div class="example flex responsive">
	<div class="card gap br-round">
		<h6>Round corner</h6>
		<img class="br-curve " src="https://64.media.tumblr.com/735313657a22b69833443238c9eb53c1/0dbc9565e13cfe20-65/s500x750/60d3037466ac35dd3ad5039d98f24fb823581f5f.png" alt="">
		<p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dolores, unde adipisci, iure molestias natus.</p>
		<a class="btn br-curve" href="#cards">Buy</a>
	</div>
	<div class="col-margin-row"></div>
	<div class="col-margin-col"></div>
	<div class="card gap">
		<h6>Default</h6>
		<img src="https://64.media.tumblr.com/735313657a22b69833443238c9eb53c1/0dbc9565e13cfe20-65/s500x750/60d3037466ac35dd3ad5039d98f24fb823581f5f.png" alt="">
		<p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dolores, unde adipisci, iure molestias natus.</p>
		<a class="btn" href="#cards">Button</a>
	</div>
</div>
<br>
<div class="code">
	<pre><code><ol><li>&lt;div class="card"&gt;</li><li>    &lt;h6&gt; ... &lt;/h6&gt; &lt;!-- You can use any header tag --&gt;</li><li>    &lt;p&gt; ... &lt;/p&gt;</li><li>    &lt;button&gt; ... &lt;/button&gt; &lt;!-- Or what do you wants --&gt;</li><li>&lt;/div&gt;</li><li></li><li>&lt;-- add &quot;gap&quot; class to give gap: 1rem; after &quot;card&quot; class --&gt;</li><li>&lt;div class=&quot;card gap&quot;&gt;</li><li>...</li><li>&lt;/div&gt;</li></ol></code></pre>
</div>