<link rel="stylesheet" href="/style/contrib.css">

<h5>Contributors</h5>
<p>Thank you for contributing to the development of DezUI towards a better step.</p>
<div id="contributor-count"></div>

<br>
<h5>Partners</h5>
<p>Thank you for working as a partner in using / suggesting our products in the project.</p>
<div id="partner-count"></div>

<script src="/js/pages/contributors.js"></script>
