<div class="container container-tablet p-0">
	<section id="introduction">
		<div class="hero hero-full flex justify-content-center align-items-center">
			<h4 class="text-align-center">Lightweight, Minimalist & Elegant Design</h4>
			<a href="#summary" class="btn">Getting Started</a>
		</div>
	</section>
	<section id="summary">
		<h5>Summary <a href="#summary">#</a></h5>
		<p>DezUI is a build fast, minimalistic & elegant css framework for starting projects with a minimalist and elegant design and easy to kickstart development of webapps and sites.</p>
		<br>
		<div class="flex responsive">
			<div class="contributor col" style="text-align: center;">
				<h6>Build Fast</h6>
				<p>Build your website quickly and easily.</p>
			</div>
			<br>
			<div class="col-margin"></div>
			<div class="col" style="text-align: center;">
				<h6>Elegant & Clean</h6>
				<p>Reflects someone who wants to look professional and clean.</p>
			</div>
			<div class="col-margin"></div>
			<br>
			<div class="col" style="text-align: center;">
				<h6>Easy to Use</h6>
				<p>Quick to start with zero compiling or installing necessary.</p>
			</div>
		</div>
	</section>
	<hr class="dotted">
	<section id="installation">{{> installation}}</section>
	<hr class="dotted">
	<section id="typography">{{> typography}}</section>
	<hr class="dotted">
	<section id="grids">{{> grids}}</section>
	<hr class="dotted">
	<section id="lists">{{> lists}}</section>
	<hr class="dotted">
	<section id="buttons">{{> buttons}}</section>
	<hr class="dotted">
	<section id="forms">{{> forms}}</section>
	<hr class="dotted">
	<section id="navbar">{{> navbar}}</section>
	<hr class="dotted">
	<section id="tables">{{> tables}}</section>
	<hr class="dotted">
	<section id="cards">{{> cards}}</section>
	<hr class="dotted">
	<section id="code">{{> code}}</section>
	{{!-- <hr class="dotted"> --}}
	{{!-- <section id="border">{{> border}}</section> --}}
	<hr class="dotted">
	<section id="color_themes">{{> color_themes}}</section>
	<hr class="dotted">
	<section id="breakpoints">{{> breakpoints}}</section>
	<hr class="dotted">
	<section id="container">{{> container}}</section>
	<hr class="dotted">
	<section id="utilities">{{> utilities}}</section>
	{{!-- <hr> --}}
	{{!-- <section id="contributors">{{> contributors}}</section> --}}
</div>

<div class="hero"></div>
