<div class="container container-tablet">
<div class="hero">
    <br>
    <div class="hero">
        <h5 class="text-align-center">Changelog</h5>
    </div>
    <div class="v1x m-1rem-t">
        <h6>1.2.0 <span class="text-info">(September 28, 2022)</span></h3>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Add Border <code>weight</code>, <code>color</code> and <code>radius</code></p>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Add utility <code>position</code></p>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Add utility <code>Padding</code></p>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Add <code>gap</code> class inside card to give <code>gap: 1rem;</code></p>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Add <code>Margin</code></p>
        <p><code class="bg-info text-white m-1rem-r bd-none">CHANGED</code> .col-margin to .col-margin-row | col</p>
    </div>
    <br>
    <div class="v1x m-1rem-t">
        <h6>1.1.0 <span class="text-info">(October 31, 2021)</span></h3>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Card</p>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Color themes</p>
    </div>
    <br>
    <div class="v1x m-1rem-tb">
        <h6>1.0.0 <span class="text-info">(October 18, 2021)</span></h3>
        <p><code class="bg-success m-1rem-r bd-none">ADDED</code> Initial release</p>
    </div>
    <br>
</div>
</div>